body {
  font: 10px / 36px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(206, 206, 206);
}

.judul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  text-shadow: 2px 2px 2px white;
}

.container {
  box-shadow: 0px 0px 5px rgba(11, 11, 11, 0.5);
  border-radius: 20px;
  max-width: 600px;
  background-color: white;
  margin: auto;
  padding: 30px;
}

.gallery li {
  width: 120px;
  height: 120px;
  /* Tambahkan Overflow Agar Elemen Dalam li bisa Di
    Ubah */
  /* overflow: hidden; */
  border: 8px solid grey;
  /* Tambahkan Float Ke Kiri Agar Gambar
    Berikutnya Menjadi Ke Kiri */
  float: left;
  /* Tambahkan Position Relative Agar Ojek Yang
    Berada Dalam li Hanya Tetap Berada Dalam li */
  position: relative;
  margin-left: 45px;
  margin-bottom: 20px;
}

.gallery li img,
.gallery li,
.gallery li span {
  border-radius: 100px;
}

.gallery li span {
  /* Jika Ingin Mengedit Span Makan Ubah Dulu Displaynya */
  display: block;
  width: 120px;
  height: 120px;
  background-color: rgba(141, 139, 139, 0.5);
  text-align: center;
  line-height: 120px;
  /* Tambahkan Position Absolute Agar Masuk Kedalam 
    Parent Yang Sama Dengan Gallery*/
  position: absolute;
  top: 0;
  font-weight: bold;
  color: grey;
  text-shadow: 1px 1px 1px white;
  opacity: 0;
  transition: 0.3s;
}

/* Transition Hover */

.gallery li a:hover span {
  opacity: 1;
}

/* Agar Container Tidak Hancur Maka Setelah
Penggunaan Float Tambahkan Clear */

.clear {
  clear: both;
}

/* Overlay */

.overlay {
  display: none;
  position: fixed;
  background-color: rgba(98, 96, 96, 0);
  z-index: 1;
  top: 0;
  left: 0;
  transition: 1s;
}

.overlay:target {
  display: inherit;
  background-color: rgba(98, 96, 96, 0.8);
  right: 0;
  bottom: 0;
}

.overlay-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 400px;
  width: 300;
}

.overlay img {
  width: 100%;
  border-radius: 0 !important;
}

.overlay:target img {
  border: 2px solid white;
  box-shadow: 0px 0px 5px 5px rgba(18, 17, 17, 0.5);
  animation: zoomeffect1 1s;
}

/* Animasi */
@keyframes zoomeffect1 {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomeffect2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.overlay .close {
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid;
  top: -70px;
  left: calc(50% - 40px);
}

.overlay:target .close,
.overlay:target .next,
.overlay:target .preview {
  animation: zoomeffect2 1s;
}

/* Button */

.next {
  width: 50px;
  height: 50px;
  background-image: url(../image/Button/Next.png);
  position: absolute;
  right: -70px;
  top: calc(50% - 50px);
}

.preview {
  width: 50px;
  height: 50px;
  background-image: url(../image/Button/Back.png);
  position: absolute;
  left: -67px;
  top: calc(50% - 50px);
}
